<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.js"></script>

    <script src="./app.js"></script>
</head>
<body ng-app="materialApp" ng-controller="AppCtrl as mtCtrl">
<header>
    <div layout="column" layout-align="center start">
        <md-button ng-click="toggleRight()"
                   ng-hide="isOpenRight()"
                   class="md-primary">
            <ng-md-icon icon="menu" style="fill:white" size="40"></ng-md-icon>
        </md-button>
        <div layout="row" layout-align="start center" layout-margin>

            <div>
                <img src="../10004010_616141291784942_1325521122_n.jpg" class="imgRadius img1" ng-click="showAdvanced($event)">
            </div>
            <div class="fontEffects" layout="column">
                <div>Jennifer Wilson</div>
                <div class="fontEffects1"><b>UI/UX Designer</b></div>
            </div>
        </div>

    </div>
</header>

    <div layout="row">
    <span class="halfDiv" layout="row" layout-align="center center" flex>
        <span layout="column">
            <span class="Pcolor" layout="row" layout-align="center center">12</span>
            <span class="Pcolor1">Remaining tasks</span>
        </span>
    </span>

    <span class="halfDiv1" layout="row" layout-align="center center" flex>
        <span layout="column">
            <span class="Pcolor" layout="row" layout-align="center center">32</span>
            <span class="Pcolor1">Completed Tasks</span>
        </span>
    </span>

    </div>
    <div  layout="row" layout-align="center start">
        <span class="round" ng-click="showAdvanced1($event)"  layout="row" layout-align="center center"><ng-md-icon icon="add" size="40" class="fillColor"></ng-md-icon></span>
    </div>


<div layout-margin layout-padding>
    <span class="Today" layout-margin layout-padding><b layout-margin layout-padding>Today</b></span>
    <ul>
        <img src="../fulllist.jpg" class="float">
        <li class="mariginPadding1">Finish Landing page concept</li>
        <li class="mariginPadding">Design app illustration</li>
        <li class="mariginPadding">Javascript training</li>
        <li class="mariginPadding">Surprise Party for Matt </li>

    </ul>
</div>
    <!--sidenavbar-->

<section layout="row" flex>


    <md-sidenav class="md-sidenav-left md-whiteframe-z2 widthHeight" md-component-id="right">
        <header class="headear2" layout="row">
            <span layout="row" layout-align="start center" layout-margin> <img
                    src="../10004010_616141291784942_1325521122_n.jpg" class="imgRadius img1" ng-click="showAdvanced($event)"></span>
            <span class="fontEffects" flex layout="row" layout-align="start center">Jennifer Wilson</span>

        </header>
        <md-content class="mainCard" layout-padding>

            <div layout="row">
                <ng-md-icon icon="dashboard" class="iconEffects" size="40"></ng-md-icon>
                <span class="md-headline iconEffects" layout-padding>Dashboard</span>
            </div>

            <md-card class="mainCard1 border">

                <md-card-actions layout="row" layout-align="start center">
                    <ng-md-icon icon="logout" class="iconEffects" size="40"></ng-md-icon>
                    <md-button class="iconEffects">Logout</md-button>

                </md-card-actions>
            </md-card>
        </md-content>
    </md-sidenav>
</section>

<!--<header></header>-->


</body>
</html>