body{
    width: 100%;
    height: 100%;
}
header{
    height: 200px;
    background-color: #3F4996;

}
.headear2{
    height: 200px;
    background-color: #3F4996;
    background-image: url("img/RKXZvX.png");
    background-size: 320px 199px;
}
.mainCard{
    width: auto;
    height: 77%;
    background-color:#1D224B;

}
.iconEffects{
    fill: #A5AEF0;
    color:#A5AEF0;
    font-size: 15px;
}
.mainCard1{
    background-color:#1D224B;
    width: 55%;
    height: 70%;
}
.border{
box-shadow: none;
border-right: 1px solid #171B3E;
border-top: 1px solid #171B3E;
}
.widthHeight{
    /*width: 1250px;*/
    /*min-width: 1250px;*/
    height: 130%;
}
md-backdrop{
    height: 130%;
}

ul
{
    list-style-type: none;
}
.img1{
    height: 99%;
    width: 100%;
    border-bottom:2px solid;

}
.fontEffects{
    font-size: 25px;
    color: #FFFFFF;
}
.fontEffects1{
    font-size: 15px;
    color: #61BDEE;
}
.imgRadius{
    height: 100px;
    width: 100px;
    border-radius: 50%;

}
.img-radius{


}
.round{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    margin-top: -200px;
    outline: none;
}
.halfDiv{
    height: 150px;
    /*width: 640px;*/
    background-color:#4DC2FF;
}
.halfDiv1{
    height: 150px;
    /*width: 640px;*/
    background-color: #FF7FE5;
}
.fillColor{
    fill:  #474E5A
}
.Pcolor{
    color: white;
    font-size: 40px;
}
.Pcolor1{
    color: white;
    font-size: 25px;
}
.Today{
    color: #8693A1;
    font-size: 25px;
}
.margins{
    margin-top: -0.5%;
}
.float{
    float: left;

}
.mariginPadding{
    margin-top:7.5%;
    margin-left: 7%;
    color: #3D4750;
    font-size: 20px;
    font-weight: bolder;
}
.mariginPadding1{
    margin-top: 0.5%;
    color: #3D4750;
    margin-left: 7%;
    font-size: 20px;
    font-weight: bolder;
}

.dialogdemoBasicUsage #popupContainer {
    position: relative; }
.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px; }
